API_ID=20757297
API_HASH=92ec84086d015a3cbca50d64ef1b4bb7
BOT_TOKEN=6024443656:AAFpz4K40wT-4k6Ifhuvf1wjZOHAKiz8mQI
LOG_GROUP_ID=-10019019247
MONGO_DB_URI=mongodb+srv://asrushfig:2004@cluster0.6vdid.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=50505106
STRING_SESSION=BQE8uzEAekEPgP3DqoaSU_Q3STeLSPCVgTUxWAHC3v1wd7JzcEEVyrRLgBUZ4i9iUqvBT9rF_w2_kQ3HeOrZozhsmRJGgujkJWcIs969NRiA65-m7utjtGDt-jRB9AdPwq-jlYmPZIkd_F6S8WEOii6mSvbZKBBr40VkLKL-UzEEw4oEdTsbz43WYCqf6eJOdZPbkXle3jlA-n_LwJS9vyRve5dy5dcwTumaMim9bwlAbnR31C06Tmv6KNvBPB61jiHBigKkdUiEZQb4poL4EsFMJYhh_oUo-r6M-tHxal8sdlYiq9DDlRKwsl2twe-v1G0G6ZPI7qPDWoBhZy1q2bK_pzEWPgAAAAFqqMtdAA
